{% extends "includes/layouts/base.njk" %}

{% set metaTitle = "Welcome" %}
{% set metaDescription = "Web design and code from Brussels, Belgium by Jérôme Coupé." %}

{% block content %}

  <main class="c-pagecontent">
    <h1>
      Hello world !!
    </h1>

    <svg role="img" title="Cancel" class="icon icon-cancel">
      <use xlink:href="../img/sprite.svg#cancel"></use>
    </svg>

    <div class="test">
      <img class="media" data-object-fit src="" alt="">
    </div>
  </main>

{% endblock %}
